@charset "UTF-8";
body {
	font-family: 'Noto Sans KR', sans-serif;
	color: #3d3d3d;
}
th {
	text-align: center;
}
td:not(:nth-child(3)) {
	text-align: center;
}

#btn {
	text-align: right;
}
input[type="text"] {
	width: 150px;
	height: 30px;
	
	padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;    
}
input:focus {
  outline: none;
}
